<% provide(:title, "About") %>

    <title><%= yield(:title) %>About | Guudvibes</title>

    <h1>About</h1>
    <p>
      The <a href="http://mwraf.com"><em>Guudvibes Blog</em></a> is a
      <a href="http://mwraf.com">work in progress</a> and
      <a href="http://mwraf.com/">big things</a>
      are coming soon. 

    </p>
