<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>The Guudvibes Blog</h1>

    <h2>
      The new home for the 
      <a href="http://www.guudvibes.wordpress.com/">Guudvibes</a>
      blog app.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("https://placekitten.com/200/300", alt: "Cute cat til i get a real logo"),
              'http://guudvibes.wordpress.com' %>
<% end %>