<footer class="footer">
  <small>
    The <a href="http://mwraf.com">Guudvibes Blog</a>
    by <a href="http://mwraf.com">Brinder S Dhaliwal</a>
  </small>
  <nav>
    <ul>
       <li><%= link_to "About",  about_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://mwraf.com">News</a></li>
    </ul>
  </nav>
</footer>